* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

.container-fluid {
    min-height: 100vh;
}

.btn {
    width: 150px;
    color: #3bc0ec;
    background-color: white;
    border: 2px solid #7ed3f0;
    transition: 0.35s;
}

.btn:hover, .btn:focus {
    box-shadow: inset 10em 0 0 0 #7ed3f0;
    color: white;
}

.hide, .abort-btn {
    display: none;
}

.card {
    border-radius: 2%;
}

.card-body {
    min-height: 621.4px;
    padding: 40px;
}

img {
    height: 90%;
    width: 90%;
}

.song-info {
    padding-left: 40px;
}

.lyrics-container {
    width: 600px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .lyrics-container {
        width: 400px;
        margin: 0 auto;
    }
}
